.random-object {
  &__title {
    color: var(--random-title-color);
    text-align: center;
  }
  &__image {
    max-width: 100%;
    max-height: 600px;
    cursor: pointer;
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__button {
    max-width: 200px;
    margin-top: 10px;
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 10px 0px var(--main-shadow-color);
    background-color: var(--button-background-color);
    backdrop-filter: blur(5px);
    color: var(--font-color);
    text-transform: uppercase;
    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        color: var(--button-font-hover-color);
        border: 1px solid var(--button-border-color);
      }
    }

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}